<!DOCTYPE html>
<html>
<head>
  <title>Rtest</title>
  <%= stylesheet_link_tag    "application", 'jquery-ui-1.10.3.custom.min.css', :media => "all" %>
  <%= javascript_include_tag 'jquery-1.9.1.js', 'jquery-ui-1.10.3.custom.min.js', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
